<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактировать достижение</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" href="/images/ico.png">

</head>
<body class="bg-gray-100 min-h-screen p-6">

<h1 class="text-3xl font-bold text-gray-800 mb-6">
    Редактировать достижение сотрудника: <span th:text="${workerId}"></span>
</h1>

<form th:action="@{/workers/view/{workerId}/achievements/{achievementId}/edit(workerId=${workerId}, achievementId=${achievement.id})}"
      th:object="${achievement}" method="post"
      class="bg-white p-6 rounded-xl shadow-md w-1/2">


    <!-- Описание -->
    <label class="block mb-2 font-semibold text-gray-700">Описание</label>
    <input type="text" th:field="*{description}" placeholder="Описание достижения"
           class="w-full border rounded-lg px-3 py-2 mb-4 shadow-sm" required>

    <!-- Дата -->
    <label class="block mb-2 font-semibold text-gray-700">Дата</label>
    <input type="date" th:field="*{date}" class="w-full border rounded-lg px-3 py-2 mb-4 shadow-sm" required>

    <!-- Кнопки -->
    <div class="flex gap-4 mt-4">
        <button type="submit"
                class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow hover:bg-blue-700 transition">
            💾 Сохранить
        </button>
        <a th:href="@{/workers/view/{workerId}/achievements(workerId=${workerId})}"
           class="bg-red-600 text-white px-4 py-2 rounded-lg shadow hover:bg-red-700 transition">
            ❌ Отмена
        </a>
    </div>
</form>

</body>
</html>
